<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>菜单管理系统</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div id="app" class="container">
  <h2>{{message}}</h2>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>价钱</th>
      <th>操作</th>
    </tr>
    <tr v-for="(menu,index) in menus">
      <td>{{index + 1}}</td>
      <td>{{menu.name}}</td>
      <td>{{menu.price}}</td>
      <td><button :disabled="menu.num == 0" class="number" @click="decrease(index)">-</button>  {{menu.num}}  <button class="number" @click="increase(index)">+</button>  </td>
      <td>{{menu.price * menu.num}}</td>
      <td><button @click="remove(index)">移除</button></td>
    </tr>
  </table>
  <p>您共选择了: <span v-for="(menu,index) in menus" class="span" v-if="!menu.num <= 0">{{menu.num}}份{{menu.name}}</span></p>
  <h3>您的总价格为：{{totalPrice()}}</h3>
</div>
<script src="../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>